body {
    text-align: center;
    background-color: #011F3F;
}
.btn{
    height: 200px;
    width: 200px;
    display: inline-block;
    border-radius: 20%;
    border: 10px solid black;
    margin-right: 40px;
    margin-bottom: 20px;
}
.container
{
    display: block;
    width: 50%;
    margin: auto;
}
#level{
    font-family: "Press Start 2P",cursive;
    font-size: 2.5rem;
    margin : 5%;
    color: snow;
    text-align: center;
}
#red{
    background-color: red;
}
#blue{
    background-color: blue;
}
#green{
    background-color: green;
}
#yellow{
    background-color: yellow;
}
.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
}  
.game-over {
    background-color: red;
    opacity: 0.8;
}
footer{
    padding: 20px;
    text-align: center;
    color: #FFF;
}
<<<<<<< HEAD
.end{
    width: 50%;
    padding-top: 20px;
    padding-bottom:40px;
    margin: auto;
    text-align: center;
}
.enter {
    background: #4ECCA3;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #232931;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
.enter:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}
=======
>>>>>>> 493925466c2fef8488a15f465879fd00915c195e
