body {
    text-align: center;
    background-color: #011F3F;
}
.btn{
    height: 200px;
    width: 200px;
    display: inline-block;
    border-radius: 20%;
    border: 10px solid black;
    margin-right: 40px;
    margin-bottom: 20px;
}
.container
{
    display: block;
    width: 50%;
    margin: auto;
}
#level{
    font-family: "Press Start 2P",cursive;
    font-size: 2.5rem;
    margin : 5%;
    color: snow;
    text-align: center;
}
#red{
    background-color: red;
}
#blue{
    background-color: blue;
}
#green{
    background-color: green;
}
#yellow{
    background-color: yellow;
}
.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
}  
.game-over {
    background-color: red;
    opacity: 0.8;
}
footer{
    padding: 20px;
    text-align: center;
    color: #FFF;
}